@import './shared/fonts';
@import './index';
@import './portfolios';
@import './portfolio-detail';
@import './dashboard';
@import './about';

@import './components/header';

html,body{
    height: 100%;
    width: 100%;
    font-family:'Montserrat', 'Caveat' !important;
}

.base-page{
    padding: 150px 0;
    color: #000;
    background-color: #ecedee;
    min-height: 100vh;

    .page-header-title{
        font-weight: bold;
        display: inline-block;
        margin-bottom: 20px;
    }
}

.clickable{
    cursor: pointer;
}

.self-typed{
    font-size: 31px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
}

.name{
    font-weight: 700;
}

.absolute{
    position: absolute;
}

.avatar-box{
    img{
        // transform: scale(0.3);
        height: 50px;
        border-radius: 50%;
    }

    .subtitle{
        font-size: 14px;
    }
}
